.header{
    background-color: beige;
    width:100%
}
.header .logo{
    color: brown;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 2px;
}
.header .nav-bar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-bar .nav-right a{
    text-decoration: none;
    font-weight: 500;
    color: brown;
    margin: 0 5px;
    padding: 4px 10px 7px 10px;
    border-radius: 4px;
}
.header .toggleBtn{
    display: none;
    position: absolute;
    top: .5rem;
    right: 1rem;
}
@media only screen and (max-width: 600px) {
    .header .toggleBtnActive{
        display: none;
    }
    .header .nav-right{
    width:100%
    }
    .header .toggleBtn{
    display: block;
    }
    .header .nav-bar{
        flex-direction: column;
        align-items:flex-start
    }
    .header .nav-right a{
        display: block;
        text-align: center;
    }
}