.table{
    margin: 3rem auto 0 auto;
    width: 50%;
}
.table a{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .table{
        width: 90%;
    }
}
@media only screen and (max-width: 900px) {
    .table{
        width: 80%;
    }
}